/**
 * Combine all of the variable less files into one variable.less file
 * Author: Josh Rogan 
 */
/**
 *	Color names for various different schemes. 
 *	@author: Josh Rogan 
 * 
 */
/**
 * Factor to reduce the font for responsive fonts 
 *
 */
/**
 * Various font helper classes for colors and more
 * 	-Must have variables.less
 */
.font-bold {
  font-weight: bold !important;
}
.font-thick {
  font-weight: bold !important;
}
.font-light {
  font-weight: 300 !important;
}
.font-mono {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.font-p {
  color: #333333;
}
.font-primary {
  color: #4b516a;
}
.font-purple {
  color: #4b516a;
}
.font-white {
  color: #fff;
}
.font-off-white {
  color: #ecf0f1;
}
.font-blue {
  color: #3498db;
}
.font-yellow {
  color: #f1c40f;
}
.font-purple {
  color: #9b59b6;
}
.font-green {
  color: #2ecc71;
}
.font-blue-green {
  color: #1abc9c;
}
.font-red {
  color: #e74c3c;
}
.font-orange {
  color: #e67e22;
}
.font-concrete {
  color: #95a5a6;
}
.background-primary {
  background-color: #4b516a;
}
/**
 * Create responsive fonts by having a reduction factor for each screen size and styling fonts
 * appropriatley. Reduction factors are in variables.less file. 
 * 
 */
#font-helpers {
  /**
	 * Mixin to allow to set all of the proper media sizes for a font
	 * @param  {Font Size} @xs-size [The font size you want for this size.]
	 * @param  {Font Size} @sm-size [The font size you want for this size.]
	 * @param  {Font Size} @md-size [The font size you want for this size.]
	 * @param  {Font Size} @lg-size [The font size you want for this size.]
	 */
}
/**
 * Miscelleanous LESS helper mixins
 * @author: Josh Rogan
 */
.fixed {
  position: fixed;
}
.vertical-align {
  position: relative;
  top: 50%;
}
.bootstrap-sidebar {
  /* Bootstrap Sidebar */
  /* /Bootstrap Sidebar */
}
.bootstrap-sidebar .bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bootstrap-sidebar .bs-docs-sidebar .nav > li > a {
  color: #666;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 12px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  font-weight: 400;
}
@media (min-width: 768px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav > li > a {
    font-size: 13.5px;
  }
}
@media (min-width: 992px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav > li > a {
    font-size: 14.25px;
  }
}
@media (min-width: 1200px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav > li > a {
    font-size: 15px;
  }
}
.bootstrap-sidebar .bs-docs-sidebar .nav > .active > a,
.bootstrap-sidebar .bs-docs-sidebar .nav > li > a:hover,
.bootstrap-sidebar .bs-docs-sidebar .nav > li > a:focus {
  color: #4b516a;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #4b516a;
}
.bootstrap-sidebar .bs-docs-sidebar .nav > .active > a,
.bootstrap-sidebar .bs-docs-sidebar .nav > .active:hover > a,
.bootstrap-sidebar .bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
.bootstrap-sidebar .bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 10.4px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav .nav > li > a {
    font-size: 11.700000000000001px;
  }
}
@media (min-width: 992px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav .nav > li > a {
    font-size: 12.35px;
  }
}
@media (min-width: 1200px) {
  .bootstrap-sidebar .bs-docs-sidebar .nav .nav > li > a {
    font-size: 13px;
  }
}
.bootstrap-sidebar .bs-docs-sidebar .nav .nav > .active > a,
.bootstrap-sidebar .bs-docs-sidebar .nav .nav > .active:hover > a,
.bootstrap-sidebar .bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
.bootstrap-sidebar .bs-docs-sidebar .nav ul.nav {
  display: block;
}
.bootstrap-sidebar .bs-docs-sidebar .nav.nav > .active > ul.nav {
  display: block;
}
/**
 *  Override defaults for anchor JS
 *  
 */
.anchorjs-link:hover {
  text-decoration: none;
}
#anchor-js .shift-out .anchorjs-link {
  transition: all .25s linear;
}
#anchor-js .shift-out *:hover > .anchorjs-link.left {
  margin-left: -1.125em !important;
}
#anchor-js .shift-out *:hover > .anchorjs-link.right {
  margin-right: -1.125em !important;
}
h1 {
  font-size: 28.8px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h1 {
    font-size: 32.4px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 34.199999999999996px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 24px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h2 {
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 28.5px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  font-size: 19.200000000000003px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h3 {
    font-size: 21.6px;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 22.799999999999997px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 14.4px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h4 {
    font-size: 16.2px;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 17.099999999999998px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 18px;
  }
}
h5 {
  font-size: 11.200000000000001px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h5 {
    font-size: 12.6px;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 13.299999999999999px;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 14px;
  }
}
p a {
  font-weight: bold;
}
@media print {
  footer {
    display: none !important;
  }
  nav {
    display: none !important;
  }
  .canvasjs-chart-toolbar {
    display: none !important;
  }
  #vars-section,
  #buttons,
  #variable-header {
    display: none !important;
  }
  #vars-section:before,
  #buttons:before,
  #variable-header:before,
  #vars-section:after,
  #buttons:after,
  #variable-header:after {
    content: " ";
    display: table;
  }
  #vars-section:after,
  #buttons:after,
  #variable-header:after {
    clear: both;
  }
  #variables:before,
  #variables:after {
    content: " ";
    display: table;
  }
  #variables:after {
    clear: both;
  }
  .legend:before,
  .legend:after {
    content: " ";
    display: table;
  }
  .legend:after {
    clear: both;
  }
  .legend .togglelegend {
    display: none !important;
  }
  .hidden-legend {
    display: none !important;
  }
  #multiple-legends-container {
    margin-top: 250px;
  }
}
.page-graph .bookmark-link {
  color: #4b516a;
  font-weight: bold;
  font-size: 17px;
}
.page-graph .infinite-sym {
  font-size: 30px;
  vertical-align: middle;
}
.page-graph #graph_wrapper {
  background-image: -webkit-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: -o-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: linear-gradient(to bottom, #4b516a 0%, #21232e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b516a', endColorstr='#ff21232e', GradientType=0);
  background-color: #141425;
  line-height: 24px;
  padding: 3px 5px 30px 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23), 0 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 0;
}
.page-graph #graph_wrapper.genotype-graph {
  background-image: -webkit-linear-gradient(top, #6a4b51 0%, #2e2123 100%);
  background-image: -o-linear-gradient(top, #6a4b51 0%, #2e2123 100%);
  background-image: linear-gradient(to bottom, #6a4b51 0%, #2e2123 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a4b51', endColorstr='#ff2e2123', GradientType=0);
}
.page-graph #graph_wrapper h1,
.page-graph #graph_wrapper h2,
.page-graph #graph_wrapper h3 {
  font-weight: 300;
}
.page-graph #graph_wrapper h1 {
  font-size: 16px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #graph_wrapper h1 {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .page-graph #graph_wrapper h1 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .page-graph #graph_wrapper h1 {
    font-size: 38px;
  }
}
.page-graph #graph_wrapper p {
  color: #fff;
  font-weight: 300;
}
.page-graph #graph_wrapper #graph-canvas {
  height: 250px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #graph_wrapper #graph-canvas {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .page-graph #graph_wrapper #graph-canvas {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .page-graph #graph_wrapper #graph-canvas {
    height: 550px;
  }
}
.page-graph #graph_wrapper #graph-canvas jpg .canvasjs-chart-container {
  color: #000;
}
.page-graph #variables h2 {
  font-size: 25px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables h2 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables h2 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .page-graph #variables h2 {
    font-size: 35px;
  }
}
.page-graph #variables h2 a {
  font-size: 15px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables h2 a {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables h2 a {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .page-graph #variables h2 a {
    font-size: 25px;
  }
}
.page-graph #variables h3 {
  color: #777777;
  font-weight: 300;
}
.page-graph #variables .error {
  font-weight: bold;
  color: red;
}
.page-graph #variables #multiple-legends-container .modified-value .legend-val {
  color: #e74c3c;
}
.page-graph #variables #multiple-legends-container .legend {
  margin-bottom: 5px;
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #f2f2f5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
}
.page-graph #variables #multiple-legends-container .legend.hidden-legend {
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #f2f2f5;
}
.page-graph #variables #multiple-legends-container .legend.hidden-legend .legend-variables {
  display: hidden;
}
.page-graph #variables #multiple-legends-container .legend.hidden-legend h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.page-graph #variables #multiple-legends-container .legend.hidden-legend h3 .togglelegend {
  font-size: 15px;
}
.page-graph #variables #multiple-legends-container .legend h3 {
  color: #4b516a;
  margin-top: 8px;
  font-size: 18px;
  /* (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables #multiple-legends-container .legend h3 {
    font-size: 24px;
  }
  .page-graph #variables #multiple-legends-container .legend h3 .togglelegend {
    font-size: 20px;
  }
}
.page-graph #variables #multiple-legends-container .legend .legend-var {
  padding-right: 4px;
}
.page-graph #variables #multiple-legends-container .legend .legend-symbol {
  padding-left: 2px;
  padding-right: 5px;
  font-size: 18px;
  font-style: italic;
}
.page-graph #variables #multiple-legends-container .legend .legend-symbol:after {
  content: " = ";
}
.page-graph #variables #multiple-legends-container .legend .legend-val {
  font-weight: 600;
}
.page-graph #variables #multiple-legends-container .legend .legend-warning {
  padding-left: 4px;
}
.page-graph #variables #multiple-legends-container .legend .legend-warning .fa-exclamation-triangle,
.page-graph #variables #multiple-legends-container .legend .legend-warning .fa-exclamation,
.page-graph #variables #multiple-legends-container .legend .legend-warning .fa-tachometer {
  color: #e74c3c;
}
.page-graph #variables #multiple-legends-container .legend .legend-warning .fa-recycle {
  color: #2ecc71;
  color: #33983c;
}
.page-graph #variables #multiple-legends-container .legend p {
  margin-top: 10px;
}
.page-graph #variables #graph_stats {
  margin-bottom: 5px;
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #f2f2f5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
}
.page-graph #variables #graph_stats h3 {
  color: #4b516a;
  margin-top: 8px;
  font-size: 18px;
  /* (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables #graph_stats h3 {
    font-size: 24px;
  }
  .page-graph #variables #graph_stats h3 .togglelegend {
    font-size: 20px;
  }
}
.page-graph #variables #graph_stats .legend-var {
  padding-right: 4px;
}
.page-graph #variables #graph_stats .legend-val {
  font-weight: 600;
}
.page-graph #variables .variable-section {
  border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}
.page-graph #variables .variable {
  margin-top: 20px;
  /**Variable Name**/
  /**Helper Text*/
  /*Variable Value*/
}
.page-graph #variables .variable input::selection {
  background: rgba(20, 20, 37, 0.2);
}
.page-graph #variables .variable input::-moz-selection {
  background: rgba(20, 20, 37, 0.2);
}
.page-graph #variables .variable label {
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables .variable label {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables .variable label {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .page-graph #variables .variable label {
    font-size: 20px;
  }
}
.page-graph #variables .variable .help-block {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables .variable .help-block {
    padding-left: 10px;
  }
}
.page-graph #variables .variable .help-block .help-symbol-container {
  font-size: 18px;
  color: #4b516a;
  font-weight: 900;
}
.page-graph #variables .variable .help-block .help-symbol-container .help-symbol {
  font-size: 22px;
  font-style: italic;
}
.page-graph #variables .variable .help-block p {
  font-size: 15px;
}
.page-graph #variables .variable #label-infinite-sample-size {
  font-style: normal;
}
.page-graph #variables .variable #infinite_sample_size {
  margin-top: 3px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables .variable #infinite_sample_size {
    margin-top: 8px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables .variable #infinite_sample_size {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  .page-graph #variables .variable #infinite_sample_size {
    margin-top: 8px;
  }
}
.page-graph #variables .variable .value {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .page-graph #variables .variable .value {
    margin-top: 0;
  }
}
.page-graph #variables .variable .value input {
  border: none;
  font-size: 26px;
  box-shadow: none;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  height: 100%;
}
.page-graph #variables .variable .scientific-notation-container {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
  font-weight: 300;
}
.page-graph #variables .variable .scientific-notation-container .scientific-notation {
  font-size: 20px;
  text-align: right;
  padding-right: 0;
  margin-right: 0;
}
.page-graph #variables .variable .scientific-notation-container .scientific-form-group .mutation-exponent {
  font-size: 18px;
  height: 34px;
  padding: 3px 3px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
}
@media (max-width: 768px) {
  .page-graph #variables .variable .scientific-notation-container .scientific-form-group .mutation-exponent {
    font-size: 20px;
    height: 38px;
    padding: 6px 12px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables .variable .scientific-notation-container .scientific-form-group .mutation-exponent {
    font-size: 20px;
    height: 38px;
    padding: 6px 12px;
  }
}
.page-graph #variables .variable .scientific-notation-container .scientific-form-group .mutation-exponent option {
  text-align: center;
}
.page-graph #variables #options {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .page-graph #variables #options {
    text-align: left;
  }
}
.page-graph #variables #buttons {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.page-graph #variables #buttons a {
  margin-top: 20px;
}
.page-graph #variables #buttons .btn {
  font-size: 14px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-graph #variables #buttons .btn {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .page-graph #variables #buttons .btn {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .page-graph #variables #buttons .btn {
    font-size: 18px;
  }
}
.page-graph #results_panel {
  margin-top: 20px;
}
.page-graph #results_panel #results {
  height: 800px;
  overflow-y: scroll;
}
.page-graph #graph-computing-modal #graph-completion-precent {
  font-size: 500%;
  text-align: center;
}
.page-graph #graph-computing-modal #graph-completion-precent.completed {
  color: green;
}
.page-graph #graph-computing-modal #graph-completion-precent.failed {
  color: red;
}
.page-faq {
  /* Bootstrap Sidebar */
  /* /Bootstrap Sidebar */
}
.page-faq .anchorjs-link {
  transition: all .25s linear;
}
.page-faq *:hover > .anchorjs-link.left {
  margin-left: -1.125em !important;
}
.page-faq *:hover > .anchorjs-link.right {
  margin-right: -1.125em !important;
}
.page-faq .bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-faq .bs-docs-sidebar .nav > li > a {
  color: #666;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 12px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-faq .bs-docs-sidebar .nav > li > a {
    font-size: 13.5px;
  }
}
@media (min-width: 992px) {
  .page-faq .bs-docs-sidebar .nav > li > a {
    font-size: 14.25px;
  }
}
@media (min-width: 1200px) {
  .page-faq .bs-docs-sidebar .nav > li > a {
    font-size: 15px;
  }
}
.page-faq .bs-docs-sidebar .nav > .active > a,
.page-faq .bs-docs-sidebar .nav > li > a:hover,
.page-faq .bs-docs-sidebar .nav > li > a:focus {
  color: #4b516a;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #4b516a;
}
.page-faq .bs-docs-sidebar .nav > .active > a,
.page-faq .bs-docs-sidebar .nav > .active:hover > a,
.page-faq .bs-docs-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
.page-faq .bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 10.4px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-faq .bs-docs-sidebar .nav .nav > li > a {
    font-size: 11.700000000000001px;
  }
}
@media (min-width: 992px) {
  .page-faq .bs-docs-sidebar .nav .nav > li > a {
    font-size: 12.35px;
  }
}
@media (min-width: 1200px) {
  .page-faq .bs-docs-sidebar .nav .nav > li > a {
    font-size: 13px;
  }
}
.page-faq .bs-docs-sidebar .nav .nav > .active > a,
.page-faq .bs-docs-sidebar .nav .nav > .active:hover > a,
.page-faq .bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
.page-faq .bs-docs-sidebar .nav ul.nav {
  display: block;
}
.page-faq .bs-docs-sidebar .nav.nav > .active > ul.nav {
  display: block;
}
.page-faq pre.formula {
  font-size: 12.8px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  text-align: center;
}
@media (min-width: 768px) {
  .page-faq pre.formula {
    font-size: 14.4px;
  }
}
@media (min-width: 992px) {
  .page-faq pre.formula {
    font-size: 15.2px;
  }
}
@media (min-width: 1200px) {
  .page-faq pre.formula {
    font-size: 16px;
  }
}
.page-faq .question .question-content img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.page-faq #slide-all-slides .slide {
  position: relative;
  height: 150px;
  color: white;
  margin: 0;
  padding: 0;
}
.page-faq #slide-all-slides .slide .slide-download {
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #606888;
}
@media (max-width: 767px) {
  .page-faq #slide-all-slides .slide .slide-download {
    opacity: 1;
  }
}
.page-faq #slide-all-slides .slide .slide-download .icon a {
  color: white;
}
.page-faq #slide-all-slides .slide .slide-download .icon .fa {
  font-size: 30px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
@media (min-width: 768px) {
  .page-faq #slide-all-slides .slide .slide-download .icon .fa {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .page-faq #slide-all-slides .slide .slide-download .icon .fa {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .page-faq #slide-all-slides .slide .slide-download .icon .fa {
    font-size: 20px;
  }
}
@media (min-width: 480px) {
  .page-faq #slide-all-slides .slide .slide-download .icon:hover .fa,
  .page-faq #slide-all-slides .slide .slide-download .icon:active .fa {
    font-size: 40px;
    /* Small devices (tablets, 768px and up) */
    /* Medium devices (desktops, 992px and up) */
    /* Large devices (large desktops, 1200px and up) */
  }
}
@media (min-width: 480px) and (min-width: 768px) {
  .page-faq #slide-all-slides .slide .slide-download .icon:hover .fa,
  .page-faq #slide-all-slides .slide .slide-download .icon:active .fa {
    font-size: 40px;
  }
}
@media (min-width: 480px) and (min-width: 992px) {
  .page-faq #slide-all-slides .slide .slide-download .icon:hover .fa,
  .page-faq #slide-all-slides .slide .slide-download .icon:active .fa {
    font-size: 40px;
  }
}
@media (min-width: 480px) and (min-width: 1200px) {
  .page-faq #slide-all-slides .slide .slide-download .icon:hover .fa,
  .page-faq #slide-all-slides .slide .slide-download .icon:active .fa {
    font-size: 40px;
  }
}
.page-faq #slide-all-slides .slide .slide-download div.vertical-align {
  top: 40%;
}
.page-faq #slide-all-slides .slide .slide-background {
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  background-image: url(/images/slide-bg-opt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .page-faq #slide-all-slides .slide .slide-background {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .page-faq #slide-all-slides .slide .slide-background {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .page-faq #slide-all-slides .slide .slide-background {
    font-size: 20px;
  }
}
.page-faq #slide-all-slides .slide .slide-background div.vertical-align {
  top: 30%;
}
@media (min-width: 480px) {
  .page-faq #slide-all-slides .slide:hover .slide-download {
    opacity: 0.9;
  }
}
.page-faq #slide-all-slides .slide-caption {
  width: 100%;
  padding: 3% 5% 2% 5%;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-top: none;
  position: relative;
}
.page-faq #slide-all-slides .slide-caption h5 {
  font-weight: bold;
  font-size: 12.8px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-faq #slide-all-slides .slide-caption h5 {
    font-size: 14.4px;
  }
}
@media (min-width: 992px) {
  .page-faq #slide-all-slides .slide-caption h5 {
    font-size: 15.2px;
  }
}
@media (min-width: 1200px) {
  .page-faq #slide-all-slides .slide-caption h5 {
    font-size: 16px;
  }
}
.page-faq #slide-all-slides .slide-caption p {
  color: #666666;
}
.page-welcome .welcome {
  background-image: -webkit-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: -o-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: linear-gradient(to bottom, #4b516a 0%, #21232e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b516a', endColorstr='#ff21232e', GradientType=0);
  background-color: #141425;
  line-height: 24px;
  padding: 3px 5px 30px 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23), 0 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 0;
}
.page-welcome .welcome.genotype-graph {
  background-image: -webkit-linear-gradient(top, #6a4b51 0%, #2e2123 100%);
  background-image: -o-linear-gradient(top, #6a4b51 0%, #2e2123 100%);
  background-image: linear-gradient(to bottom, #6a4b51 0%, #2e2123 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6a4b51', endColorstr='#ff2e2123', GradientType=0);
}
.page-welcome .welcome h1,
.page-welcome .welcome h2,
.page-welcome .welcome h3 {
  font-weight: 300;
}
.page-welcome .welcome h1 {
  font-size: 16px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-welcome .welcome h1 {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .page-welcome .welcome h1 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .page-welcome .welcome h1 {
    font-size: 38px;
  }
}
.page-welcome .welcome p {
  color: #fff;
  font-weight: 300;
}
.page-welcome .welcome #graph-canvas {
  height: 250px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-welcome .welcome #graph-canvas {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .page-welcome .welcome #graph-canvas {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .page-welcome .welcome #graph-canvas {
    height: 550px;
  }
}
.page-welcome .welcome #graph-canvas jpg .canvasjs-chart-container {
  color: #000;
}
.page-welcome .logo .fa {
  font-size: 150px;
}
footer {
  background-image: -webkit-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: -o-linear-gradient(top, #4b516a 0%, #21232e 100%);
  background-image: linear-gradient(to bottom, #4b516a 0%, #21232e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b516a', endColorstr='#ff21232e', GradientType=0);
  padding-top: 40px;
  margin-top: 60px;
  color: white;
}
footer .container-fluid {
  margin-left: 2%;
  margin-right: 2%;
}
footer a {
  color: white;
  font-weight: bold;
}
footer a:hover {
  color: white;
}
/******************NO UI SLIDER Modifications*******************/
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}
/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbbbbb;
}
.noUi-active {
  box-shadow: inset 0 0 1px #ffffff, inset 0 1px 7px #dddddd, 0 3px 6px -3px #bbbbbb;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  font: 400 12px Arial;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  width: 40px;
  position: absolute;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 50px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  margin-left: -20px;
  padding-top: 20px;
}
.noUi-value-horizontal.noUi-value-sub {
  padding-top: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  width: 15px;
  margin-left: 20px;
  margin-top: -5px;
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.graph-allele .slider {
  margin-top: 10px;
  /* Vert Centering*/
}
.graph-allele .slider.active.noUi-connect {
  background-color: #4b516a;
}
.graph-allele .slider.noUi-connect {
  background-color: #aaaaaa;
}
.graph-allele .range-slider .slider.active .noUi-connect {
  background-color: #4b516a;
}
.graph-allele .range-slider .slider .noUi-connect {
  background-color: #aaaaaa;
}
.graph-genotype .btn {
  background-color: #6a4b51;
  color: white;
}
.graph-genotype a {
  color: #6a4b51;
}
.graph-genotype .slider {
  margin-top: 10px;
  /* Vert Centering*/
}
.graph-genotype .slider.active.noUi-connect {
  background-color: #6a4b51;
}
.graph-genotype .slider.noUi-connect {
  background-color: #aaaaaa;
}
.graph-genotype .range-slider .slider.active .noUi-connect {
  background-color: #6a4b51;
}
.graph-genotype .range-slider .slider .noUi-connect {
  background-color: #aaaaaa;
}
/******************CanvasJS Chart Modifications*******************/
.canvasjs-chart-toolbar button[state="menu"],
.canvasjs-chart-toolbar button[state="reset"],
.canvasjs-chart-toolbar button[state="pan"],
.canvasjs-chart-toolbar button[state="zoom"] {
  background-color: white;
  border: none;
}
@media (max-width: 767px) {
  .canvasjs-chart-toolbar button[state="menu"] {
    display: none !important;
  }
}
.canvasjs-chart-toolbar > div {
  border: none !important;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
